body{
    font-family: 'Roboto', sans-serif;
}


/*top-navbar menu design*/
.page-name{
    float: left;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    font-size: 2rem;
}

.nav-container{
    display: flex;
    float: right;
    justify-content: space-evenly;
    gap: 70px;
}

.nav-container > div{
    padding: 20px;
}


/*heading design*/
.heading{
    clear: both;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading > p{
    height: fit-content;
    text-align: center;
    font-size: 25px;
    margin: -10px;
}


/*grid design for payment blocks*/

.grid-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
    gap: 0px;
    margin-top: 80px;

}

.block{
    padding: 20px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.2),
                0px 2px 4px rgba(0,0,0, 0.2),
                0px 4px 8px rgba(0,0,0, 0.2),
                0px 8px 16px rgba(0,0,0, 0.2);
    border: 2px solid white;
}

#plan1{
    margin-top: 5%;
    height: 28vh;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#plan2{
    background-color: #1a1c29;
    color: white;
    height: 40vh;
    width: 250px;
    border-radius: 25px;
}

#plan3{
    margin-top: 5%;
    height: 28vh;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}


/*css for button element in each block*/
.button{
    position: absolute;
    top: 80%;
    margin-left: 2px;
    width: 85%;
    height: 42px;
    background-color: #3d38f6;
    color: white;
    border-radius: 8px;
    border: 0px solid white;
}


#button2{
    height: 50px;
}


.explain{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#explain2{
    margin-top: 20px;
}

span{
    font-weight: bold;
}

.title{
    color: #3d38f6;
}
h1{
    font-size: 4rem;
}

img{
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 20px;
    border-radius:10px;
}

#popular{
    float: right;
    width: 70px;
    height: 20px;
    padding: auto;
    background-color: #3d38f6;
    font-size: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.price{
    font-size: 2rem;
}

.block-title{
    font-weight: bold;
}
/*for mobile devices*/

@media(max-width:1080px ){
    .flex{
        flex-direction: column;
        flex: 1,1,0;
        gap: 10px;
    }
    .block{
        flex-basis: 250px;
        border-radius: 25px;
    }
    #plan1{
        margin-top: 0%;
    }
    #plan3{
        margin-top: 0%;
    }

    .nav-container{
        display: flex;
        float: right;
        gap: 5px;
    }
    .nav-container > div{
        padding: 10px;
        padding-top: 20px;
    }
    h1{
        font-size: 45px;
    }
    .heading > p{
        font-size: 20px;
    }
    .page-name{
        font-size: 20px;
        padding-top: 18px;
    }
}